@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/qualities";
@import "partials/ourStory";
@import "partials/services";
@import "partials/statistics";
@import "partials/projects";
@import "partials/quote";
@import "partials/workWithUs";
@import "partials/footer";

/*I wrote this code, but the design is from a template*/
/*general styles here*/

body {
	font-family: $primaryFont;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

h1 {
	margin: auto;
	font-size: 50px;
}

h2 {
	position: relative;
	font-size: 25px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

h4 {
	padding-bottom: 0;
	margin-top: 97px;
    margin-bottom: 0;
    line-height: 0;
    font-size: 13px;
    color: #999999;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.sliderButton {
	display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-pack: distribute;
	justify-content: space-around;
    width: 142px;
    height: 44px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.56);
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    color: #ffffff;
    letter-spacing: 1.82px;
    font-size: 13px;
}

/*partners section begins*/


.partnerList {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	li {
		// width: 100%;
		list-style: none;
	}
	img {
		width: auto;
    	max-width: 100%;
	}
}

/*partners section ends*/



//media queries begin

@media (max-width: 1130px) {

	.gallery2 {
		display: flex;
		flex-direction: column;
	}
	.bioAside {
		padding: 5px;
    	margin: 0;
	}

	.partners {
		display: none;
	}
}

@media (max-width: 980px) {
	/*header styles*/
	.home, .staff, .quotes {
		display: none;
	}

	h1.sliderText {
		text-align: center;
	}

	header {
		max-width: 940px;
		height: 100vh;
	}

	.navLinks li a {
		display: block;
	}

	.sliderTextSmall {
		font-size: 17px;
	}
	
	/*header styles end*/

	/*qualities section begins*/
	.qualities {
		width: 100%;
	}

	.qualitiesText {
		color: #000;
	}

	/*qualities section ends*/

	/*our story section begins*/

	.bio, .bioStory {
		width: 100%;
		padding: 30px;
	}

	div.ourStory {
		flex-direction: column;
	}
	
	.bioStory li {
		display: none;
	}

	/*our story section ends*/

	/*services section begins*/

	.servicesLorem {
		margin-bottom: 15px;
	}

	.servicesImage {
		display: none;
	}
	
	.servicesRow {
		justify-content: center;
	}

	.servicesContent {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.servicesLorem {
		width: 100%;
	}

	.servicesButton {
		margin-bottom: 50px;
	}

	/*services section ends*/

	/*statistics section begins*/

	.stats {
		display: flex;
		flex-direction: column;
		padding-top: 25px;
		padding-bottom: 10px;
		margin-top: 50px;
		li {
			margin-bottom: 30px;
		}
	}

	.stats li img {
		width: 30px;
	    height: 30px;
	    display: flex;
	    align-self: center;
	}

	/*statistics section ends*/
	
	/*partners section begins*/

	.partnerList li { 
		width: 16.6%
	}
	/*partners section ends*/
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	/*header styles*/
	.wrapper {
		margin: 0 auto;
	
	}

	header {
		max-width: 100%;
		height: 100vh;
	}
	
	.logo img {
		margin-top: 10px;
	}

	.navLinks {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}

	div.sliderTextMain {
		display: flex;
    	flex-direction: column;
    	max-width: 100%;
	}
	
	/*header styles end*/

	/*our story section begins*/
	.ourStory {
		display: flex;
    	flex-direction: column;
	}

	.bio, .bioAside {
		width: 100%;
		padding: 30px;
	}

	.bioList {
		display: none;
	}

	/*our story section ends*/
	
	/*services section begins*/

	.fullBleedServices {
		padding-bottom: 30px;
	}

	.servicesSliderText1 {
		padding-top: 50px;
	}

	.servicesButton {
		margin-top: 0px;
	}

	.servicesImage3 {
		background-position: center;
	}

	/*services section ends*/

	/*statistics section begins*/

	.stats li {
		display: flex;
    	flex-direction: column;
	}

	.stats li img {
		width: 30px;
	    height: 30px;
	    display: flex;
	    align-self: center;
	}

	/*statistics section ends*/

	/*projects section*/

	ul.projectsList {
		flex-direction: column;
		text-align: center;
	}

	/*footer begins*/

	.footerDiv {
		display: flex;
    	flex-direction: column;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

	header {
		width: 100%;
		height: 100vh;
		background-position: center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
	}

	h1 {
		text-align: center;
	}

	.logo img {
		margin-top: 0;
	}

	.navLinks {
		justify-content: flex-end;
	}

	ul.navLinks {
		line-height: 0;
	}

	.navLinks li a {
		display: flex;
		flex-direction: column;
	}

	/*header ends*/
	

	/*our story beings*/

	.ourStory {
		display: flex;
    	flex-direction: column;
	}

	.bio, .bioAside {
		width: 100%;
		padding: 30px;
	}

	/*services section begins*/

	.fullBleedServices {
		padding-bottom: 20px;
	}

	.servicesImage1 {
		background-position: inherit;
	}

	.servicesImage3 {
		background-position: center;
	}

	.servicesTitle:after {
		visibility: hidden;
	}

	.servicesSliderText {
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.servicesSliderText2 {
		padding-top: 0;
	}

	.servicesNumber {
		margin: 0;
	    text-align: left;
	    margin-left: 20px;
	}

	.servicesLorem {
		width: 100%;
	    padding: 20px;
	}

	.servicesButton {
		margin: 0;
    	padding: 0;
    	margin-left: 23px;
	}

	/*services section ends*/

	/*stats section begins*/

	.stats li img {
		width: 30px;
	    height: 30px;
	    display: flex;
	    align-self: center;
	}

	/*stats section ends*/

	.projectsList {
		display: block;
	    padding: 0;
	    margin-left: 93px;
	}

	/*quote seconds begins*/

	.mainQuote {
    	text-align: center;
	}

	.quoteExpanded, .quotePerson, .quoteCompany {
		font-size: 16px;
		margin-top: 10px;
	}

	/*quote section ends*/

	/*work with us section*/

	.sliderButton {
		height: 65px;
	}
	
	/*work with us section ends*/
	
	/*footer*/
	.location, .callUs, .emailUs {
		width: 100%;
	}
}

	
 








